@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-50 text-slate-800 min-h-screen antialiased;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }
}

/* Custom gorgeous scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full hover:bg-slate-300;
}
